body {
    font-family: Helvetica, Helevetica;
    margin: 0;
    padding: 0;
    background-color: #07020f;
    color: #f2f0f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #07020f;
    color: white;
}

.banner {
    text-align: center;
    margin: 20px 0;
}

.banner img {
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
}

nav {
    background-color: #07020f;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #07020f;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #07020f;
    color: white;
    margin-top: 30px;
}